<%= form_with(model: status) do |form| %>
  <% if @status.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('activerecord.errors.template.header', model: @status.model_name.human, count: @status.errors.count) %></h2>
    <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="field">
    <%= form.label :新しいステータスを入力してください %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :詳細 %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit "ステータス登録"%>
  </div>
<% end %>
