<% if current_user.try(:admin?) %>
  <h1>ステータス一覧_admin</h1>
<% else %>
  <h1>ステータス一覧</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= link_to 'Show', status %></td>
        <td><%= link_to 'ステータスを編集する', edit_status_path(status) %></td>
        <td><%= link_to 'ステータスを削除します', status, method: :delete, data: { confirm: '削除しますがよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ステータスを作成する', new_status_path %>
