<h1>ステータス登録画面</h1>
<%= form_with model: @status, local: true do |form| %>
  <div class="field">
    <%= form.label :ステータス項目 %>
    <% current_user.statuses.each do |status| %>
      <%= form.radio_button :status_id, status.name %>
      <%= status.name %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit "ステータス登録" %>
  </div>
<% end %>
