<h1>マイページ</h1>
<h2 class="fw-light">ユーザー名:<%= current_user.name %></h2>
<p class="text-samll"><%= link_to current_user.bosses.count, bosses_user_path(current_user) %> フォロー <%= link_to current_user.subordinates.count,subordinates_user_path(current_user)%>フォロワー</p>
<% if current_user %>
  <p class="lead text-muted">You are viewing your own profile <%= current_user.email %></p>
  <p>
  <strong>Status:</strong>
  <%= Status.find(@user.status_id).name %>
  <%= Status.find(@user.status_id).description %>
  </p>
<% else %>
  <% if current_user.is_followed_by?(current_user) %>
    <%= link_to user_followers_path(current_user), method: :delete do %>
      <button class="btn btn-primary">フォロー解除する</button>
    <% end %>
  <% else %>
    <%= link_to user_followers_path(current_user), method: :post do %>
      <button class="btn btn-danger">フォローする</button>
    <% end %>
  <% end %>  
<% end %>
