<h1>マイページ</h1>
<h2 class="fw-light">ユーザー名:<%= @user.name %></h2>
<p class="text-samll"><%= link_to current_user.bosses.count, bosses_user_path(current_user) %> フォロー <%= link_to current_user.subordinates.count,subordinates_user_path(current_user)%>フォロワー</p>
<% if current_user && @user.status_id.present? %>
  <p class="status">
  <strong>登録したステータス</strong>
  <div class="status-name">
    <label>ステータス:</label>
      <%= Status.find(@user.status_id).name %>
  </div>
  <div class="status-description">
    <label>詳細:</label>
      <%= Status.find(@user.status_id).description %>
  </div>
  </p> 
<% end %>
