<!DOCTYPE html>
<html>
  <head>
    <title>TimeFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% unless @top_page %>
    <h3>timefinder</h3>
      <nav>
        <ul>
        <ul class="nav-right">
          <% if user_signed_in? %>
            <li><%= link_to "ステータス一覧", statuses_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "マイページ", user_path(current_user) %></li>
            <li><%= link_to "ユーザー一覧", users_path %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    <% end %>
    </header>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
